/*
#btnEncuentrame {
  margin-top: 45%;
}

#pOrigen,#pDestino {
  margin-top: 13%;
}

.form-control {
  background:rgba(255, 255, 255, 0.3);
  /*width: 280px;*/
/*
  margin-top: -4%;
  border: 1px solid #CED4DA;
  border-radius: 5px;
}

#btnRuta {
  margin-top: 108%;
}

*/
#mapa{
    width: 700px;
    height: 500px;
}

